{% extends 'report/report.html' %}

{% block toolbar_log %}class="active"{%endblock%}

{% block report_name %}Report Upload Log{%endblock%}

{% block banner %}
    {% if meta.hits = 0 %}
    <div class="alert alert-warning">Report generation script has not run yet. It usually runs every hour. If more than an hour has passed since the installation, please see the <a href="{% url 'View_ReportLog' %}">Report Upload Log</a> for possible errors or warnings.</div>
    {% endif %}
{% endblock %}

{% block description %}{%endblock%}

{% block content %}

    <div class="box">

    <style type="text/css">
        .wrapit {
            white-space: pre-wrap;
            margin-bottom: 20px;
        }
    </style>

    <pre class="wrapit">{% if report_log %}{{report_log}}{% else %}Report upload log of Diladele Web Safety is empty. {% endif %}</pre>

    </div>


{% endblock %}