{% extends 'squid/exclude/tabs.html' %}

{% block box_content %}

    {% block member_heading%}{%endblock%}
    
        <script type="text/javascript">

        var resetToDefault = function () {

            var checked = [
                "#id_exclude_banking_insurance_finance",
                "#id_exclude_government",
                "#id_exclude_health_medicine_fitness",
                "#id_exclude_network_infrastructure",
            ];

            for (var i = 0; i < checked.length; i++) {
                $(checked[i]).prop("checked", true);
            }

            var not_checked = [

                "#id_exclude_jobs_employment_career",
                "#id_exclude_movies",
                "#id_exclude_music_radio",                
                "#id_exclude_news_media",
                "#id_exclude_politics",
                "#id_exclude_real_estate_home_interior",
                "#id_exclude_religious",
                "#id_exclude_social_networking",
                "#id_exclude_software_technology_hardware",
                "#id_exclude_sports",
                "#id_exclude_television",
                "#id_exclude_travel",
                "#id_exclude_webmail",
                "#id_exclude_business_services_industry",
                "#id_exclude_ecommerce_shopping",
                "#id_exclude_education_science_research",
                "#id_exclude_fashion_beauty_cosmetics",
                "#id_exclude_food_dining_restaurants",                
                "#id_exclude_advertising", 
                "#id_exclude_automotive", 
                "#id_use_ml_domains", 
                "#id_exclude_adult_themes_sexuality", 
                "#id_exclude_alcohol_tobacco", 
                "#id_exclude_anime_manga_webcomic",
                "#id_exclude_arts_society_culture",
                "#id_exclude_blogs_personal",
                "#id_exclude_classifieds_auctions",
                "#id_exclude_content_delivery_networks",
                "#id_exclude_cracks_hacking_illegal",
                "#id_exclude_dating",
                "#id_exclude_drugs",
                "#id_exclude_entertainment_humor_hobby",
                "#id_exclude_expired_parked",
                "#id_exclude_file_storage",
                "#id_exclude_forums_message_boards",
                "#id_exclude_gambling",
                "#id_exclude_games",
                "#id_exclude_generic_non_categorized",
                "#id_exclude_hate_discrimination_violence",
                "#id_exclude_messaging_chat",
                "#id_exclude_nudity_pornography",
                "#id_exclude_p2p_file_sharing",
                "#id_exclude_photo_sharing",
                "#id_exclude_portals",
                "#id_exclude_proxy_anonymizer",
                "#id_exclude_search_engines",
                "#id_exclude_user_tracking",
                "#id_exclude_video_sharing", 
                "#id_exclude_weapons"
            ];

            for (var i = 0; i < not_checked.length; i++) {
                $(not_checked[i]).prop("checked", false);
            }
        };
    </script>

    <div class="alert alert-danger">
    	Exclusion by category only applies for HTTPS decryption bypass. Web filtering, antimalware scanning, authentication and caching are still applied!
    </div>  


	{% if form.non_field_errors %}
    <div class="alert alert-danger">
         {% for error in form.non_field_errors %}
             <span>{{ error|escape }}</span>
         {% endfor %}
    </div>  
    {% endif %}
        
    <form action="" method="POST" class="form-horizontal" role="form">{% csrf_token %}                                        


        <table class="table table-condensed table-striped table-hover">
                <tr>
                    <td>
                        <label for="id_exclude_adult_themes_sexuality" style="font-weight: normal;{% if form.exclude_adult_themes_sexuality.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_adult_themes_sexuality}} Adult Themes / Sexuality
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_drugs" style="font-weight: normal;{% if form.exclude_drugs.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_drugs}} Drugs
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_hate_discrimination_violence" style="font-weight: normal;{% if form.exclude_hate_discrimination_violence.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_hate_discrimination_violence}} Hate / Discrimination / Violence
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_proxy_anonymizer" style="font-weight: normal;{% if form.exclude_proxy_anonymizer.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_proxy_anonymizer}} Proxy / Anonymizer
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="id_exclude_advertising" style="font-weight: normal;{% if form.exclude_advertising.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_advertising}} Advertising
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_ecommerce_shopping" style="font-weight: normal;{% if form.exclude_ecommerce_shopping.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_ecommerce_shopping}} E-Commerce / Shopping
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_health_medicine_fitness" style="font-weight: normal;{% if form.exclude_health_medicine_fitness.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_health_medicine_fitness}} Health / Medicine / Fitness
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_real_estate_home_interior" style="font-weight: normal;{% if form.exclude_real_estate_home_interior.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_real_estate_home_interior}} Real Estate / Home / Interior
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="id_exclude_alcohol_tobacco" style="font-weight: normal;{% if form.exclude_alcohol_tobacco.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_alcohol_tobacco}} Alcohol / Tobacco
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_education_science_research" style="font-weight: normal;{% if form.exclude_education_science_research.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_education_science_research}} Education / Science / Research
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_jobs_employment_career" style="font-weight: normal;{% if form.exclude_jobs_employment_career.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_jobs_employment_career}} Jobs / Employment / Career
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_religious" style="font-weight: normal;{% if form.exclude_religious.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_religious}} Religious
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="id_exclude_anime_manga_webcomic" style="font-weight: normal;{% if form.exclude_anime_manga_webcomic.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_anime_manga_webcomic}} Anime / Manga / Webcomic
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_entertainment_humor_hobby" style="font-weight: normal;{% if form.exclude_entertainment_humor_hobby.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_entertainment_humor_hobby}} Entertainment / Humor / Hobby
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_messaging_chat" style="font-weight: normal;{% if form.exclude_messaging_chat.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_messaging_chat}} Messaging / Chat
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_search_engines" style="font-weight: normal;{% if form.exclude_search_engines.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_search_engines}} Search Engines
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="id_exclude_arts_society_culture" style="font-weight: normal;{% if form.exclude_arts_society_culture.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_arts_society_culture}} Arts / Society / Culture
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_expired_parked" style="font-weight: normal;{% if form.exclude_expired_parked.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_expired_parked}} Expired / Parked Domains
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_movies" style="font-weight: normal;{% if form.exclude_movies.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_movies}} Movies
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_social_networking" style="font-weight: normal;{% if form.exclude_social_networking.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_social_networking}} Social Networking
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="id_exclude_automotive" style="font-weight: normal;{% if form.exclude_automotive.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_automotive}} Automotive
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_fashion_beauty_cosmetics" style="font-weight: normal;{% if form.exclude_fashion_beauty_cosmetics.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_fashion_beauty_cosmetics}} Fashion / Beauty / Cosmetics
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_music_radio" style="font-weight: normal;{% if form.exclude_music_radio.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_music_radio}} Music / Radio
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_software_technology_hardware" style="font-weight: normal;{% if form.exclude_software_technology_hardware.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_software_technology_hardware}} Software / Technology / Hardware
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="id_exclude_banking_insurance_finance" style="font-weight: normal;{% if form.exclude_banking_insurance_finance.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_banking_insurance_finance}} Banking / Insurance / Finance
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_file_storage" style="font-weight: normal;{% if form.exclude_file_storage.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_file_storage}} File Storage
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_network_infrastructure" style="font-weight: normal;{% if form.exclude_network_infrastructure.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_network_infrastructure}} Network Infrastructure
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_sports" style="font-weight: normal;{% if form.exclude_sports.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_sports}} Sports
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="id_exclude_blogs_personal" style="font-weight: normal;{% if form.exclude_blogs_personal.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_blogs_personal}} Blogs / Personal Sites
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_food_dining_restaurants" style="font-weight: normal;{% if form.exclude_food_dining_restaurants.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_food_dining_restaurants}} Food / Dining / Restaurants
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_news_media" style="font-weight: normal;{% if form.exclude_news_media.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_news_media}} News / Media
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_television" style="font-weight: normal;{% if form.exclude_television.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_television}} Television
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="id_exclude_business_services_industry" style="font-weight: normal;{% if form.exclude_business_services_industry.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_business_services_industry}} Business Services / Industry
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_forums_message_boards" style="font-weight: normal;{% if form.exclude_forums_message_boards.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_forums_message_boards}} Forums / Message Boards
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_nudity_pornography" style="font-weight: normal;{% if form.exclude_nudity_pornography.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_nudity_pornography}} Nudity / Pornography
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_travel" style="font-weight: normal;{% if form.exclude_travel.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_travel}} Travel
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="id_exclude_classifieds_auctions" style="font-weight: normal;{% if form.exclude_classifieds_auctions.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_classifieds_auctions}} Classifieds / Auctions
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_gambling" style="font-weight: normal;{% if form.exclude_gambling.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_gambling}} Gambling
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_p2p_file_sharing" style="font-weight: normal;{% if form.exclude_p2p_file_sharing.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_p2p_file_sharing}} P2P File Sharing
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_user_tracking" style="font-weight: normal;{% if form.exclude_user_tracking.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_user_tracking}} User Tracking Scripts and Beacons 
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="id_exclude_content_delivery_networks" style="font-weight: normal;{% if form.exclude_content_delivery_networks.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_content_delivery_networks}} Content Delivery Networks
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_games" style="font-weight: normal;{% if form.exclude_games.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_games}} Games
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_photo_sharing" style="font-weight: normal;{% if form.exclude_photo_sharing.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_photo_sharing}} Photo Sharing
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_video_sharing" style="font-weight: normal;{% if form.exclude_video_sharing.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_video_sharing}} Video Sharing
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="id_exclude_cracks_hacking_illegal" style="font-weight: normal;{% if form.exclude_cracks_hacking_illegal.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_cracks_hacking_illegal}} Hacking, Cracking and Illegal Content
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_generic_non_categorized" style="font-weight: normal;{% if form.exclude_generic_non_categorized.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_generic_non_categorized}} Generic / Non-categorized Sites 
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_politics" style="font-weight: normal;{% if form.exclude_politics.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_politics}} Politics
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_weapons" style="font-weight: normal;{% if form.exclude_weapons.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_weapons}} Weapons
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="id_exclude_dating" style="font-weight: normal;{% if form.exclude_dating.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_dating}} Dating
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_government" style="font-weight: normal;{% if form.exclude_government.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_government}} Government
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_portals" style="font-weight: normal;{% if form.exclude_portals.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_portals}} Portals
                        </label>
                    </td>
                    <td>
                        <label for="id_exclude_webmail" style="font-weight: normal;{% if form.exclude_webmail.value %}color: green;{%endif%}" class="checkbox">
                            {{form.exclude_webmail}} Web Mail
                        </label>
                    </td>
                </tr>
        </table> 
        <div class="form-group">
            <div class="col-lg-4">
                <button type="submit" class="btn btn-primary">Save Settings</button>            
                <a href="javascript:resetToDefault()" class="btn">Reset To Default</a>            
            </div>            
        </div>
    </form>
    
{% endblock %}

{% block exclude_category %}class="active"{%endblock%}
{% block header_tab %} / Domain Categories{% endblock %}

{% block page_comment %}<p>HTTPS connections to the following domain categories are never decrypted. Please note, exclusion from SSL decryption by domain category works only in explicit proxy deployment scenario. If you have intercept proxy deployment this will most probably not work.</p>{% endblock %}

{% block value_name%}Advanced ACLs{%endblock%}
{% block value_help%}Specify advanced Squid ACLs for exclusions. See Squid's <a target="_new" href="http://www.squid-cache.org/Doc/config/acl/">online documentation</a> for more information.{%endblock%}

{% block comment_name%}Comment{%endblock%}
{% block comment_help%}Specify comment for your own use.{%endblock%}

{% block cancel_button%}{%endblock%}