{% extends 'node/application.html' %}

{% block leftbar_timezone %}class="active"{%endblock%}

{% block contents %}

    <h2>Time Zone Settings</h2>
    <section class="row-fluid">
        <!--
        <ul class="nav nav-pills">
        	<li class="active"><a href="{% url 'node:ViewTimeZone' %}">General</a></li>            
        </ul>  
        -->
        {% block boxed_content %}
            <div class="box">
            	{% block content %}{% endblock %}	
            </div>
        {% endblock %}    
    </section>        
{% endblock %}
