{% extends 'squid/ssl/errors/base.html' %}

{% block toolbar_ssl_error_ip %}class="active"{%endblock%}

{% block ssl_error_desc %}
<p>HTTPS / SSL errors (invalid certificates) on these IP addresses are ignored, access to these IP addresses is left as is. The browser will decide what do to with the error, not Squid.</p>
{% endblock %}


{% block addnew_href%}{% url 'ViewSslErrorIpCreate' %}{%endblock%}
{% block edit1_href%}{% url 'ViewSslErrorIpUpdate' object.pk %}{%endblock%}
{% block edit2_href%}{% url 'ViewSslErrorIpUpdate' object.pk %}{%endblock%}