{% extends 'squid/auth/active_directory.html' %}

{% block auth_ad_scheme_ldap %}class="active"{%endblock%}

{% block tab_content %}

	<div class="box">

		<p>This is most insecure way to authenticate proxy users. In this case the user name and password are transferred in clear text over the network. Authentication is done by trying to bind with these credentials to LDAP domain controller. It is not recommended to use this authentication scheme. Use this authentication scheme only when the risk of sniffing in your network is low.</p>

		{% if form.non_field_errors %}
	    <div class="alert alert-danger">
	         {% for error in form.non_field_errors %}
	             <span>{{ error|escape }}</span>
	         {% endfor %}
	    </div>  
	    {% endif %}

	    <form class="form-horizontal" method="POST">
        	{% csrf_token %}
        	<input type="hidden" name="squid" value="{{squid.pk}}">

	        <div class="control-group">
	            <label class="control-label">&nbsp;</label>
	            <div class="controls"><label class="checkbox inline">{{form.ldap_enable}} Activate Basic LDAP proxy authenticator.</label>
	            </div>
	        </div>
	        <div class="control-group {% if form.ldap_credsttl.errors %}error{%endif%}">
	            <label class="control-label" for="id_ldap_credsttl">Credentials TTL</label>
	            <div class="controls">
	                <div class="input-append">
	                	<style>#id_ldap_credsttl { width: 70px; }</style>
	                    {{form.ldap_credsttl}}
	                    <button class="btn" type="button" onclick="$('#id_ldap_credsttl').val('5');"><i class="icon-magic"></i></button>
	                </div>           
	                {% if form.ldap_credsttl.errors %}
	                    <span class="help-block">{{form.ldap_credsttl.errors|striptags}}</span>
	                {% else %}
	                    <span class="help-block">Duration when provided valid credentials are considered fresh. Recheck of credentials will be made after specified number of minutes. Default value is 5 minutes.</span>
	                {%endif%}
	            </div>
	        </div>
	        <div class="control-group {% if form.ldap_title.errors %}error{%endif%}">
	            <label class="control-label" for="id_ldap_title">Proxy Message</label>
	            <div class="controls">
	                <div class="input-append">
	                    {{form.ldap_title}}
	                    <button class="btn" type="button" onclick="$('#id_ldap_title').val('Squid Proxy');"><i class="icon-magic"></i></button>
	                </div>
					{% if form.ldap_title.errors %}
	                    <span class="help-block">{{form.ldap_title.errors|striptags}}</span>
	                {% else %}
	                    <span class="help-block">Specify here the proxy authentication informational message for your proxy users. Default is <em>Squid Proxy</em>.</span>
	                {%endif%}
	            </div>
	        </div>
	        <div class="control-group {% if form.ldap_helper_total.errors %}error{%endif%}">
	            <label class="control-label" for="id_ldap_helper_total">Auth Helpers (Total)</label>
	            <div class="controls">
	                <div class="input-append">
	                	<style>#id_ldap_helper_total { width: 70px; }</style>
	                    {{form.ldap_helper_total}}
	                    <button class="btn" type="button" onclick="$('#id_ldap_helper_total').val('20');"><i class="icon-magic"></i></button>
	                </div>           
	                {% if form.ldap_helper_total.errors %}
	                    <span class="help-block">{{form.ldap_helper_total.errors|striptags}}</span>
	                {% else %}
	                    <span class="help-block">Total number of authentication helpers to run. It is recommended to set it equal to the approximate number of proxy users in your network.</span>
	                {%endif%}
	            </div>
	        </div>        
	        <div class="control-group {% if form.ldap_helper_idle.errors %}error{%endif%}">
	            <label class="control-label" for="id_ldap_helper_idle">Auth Helpers (Idle)</label>
	            <div class="controls">
	                <div class="input-append">
	                	<style>#id_ldap_helper_idle { width: 70px; }</style>
	                    {{form.ldap_helper_idle}}
	                    <button class="btn" type="button" onclick="$('#id_ldap_helper_idle').val('10');"><i class="icon-magic"></i></button>
	                </div>           
	                {% if form.ldap_helper_idle.errors %}
	                    <span class="help-block">{{form.ldap_helper_idle.errors|striptags}}</span>
	                {% else %}
	                    <span class="help-block">Idle number of authentication helpers to run. It is recommended to make it equal to approximately 1/2 of the total number of users in your network.</span>
	                {%endif%}
	            </div>
	        </div>        
	        <div class="control-group {% if form.ldap_helper_startup.errors %}error{%endif%}">
	            <label class="control-label" for="id_ldap_helper_startup">Auth Helpers (Startup)</label>
	            <div class="controls">
	                <div class="input-append">
	                	<style>#id_ldap_helper_startup { width: 70px; }</style>
	                    {{form.ldap_helper_startup}}
	                    <button class="btn" type="button" onclick="$('#id_ldap_helper_startup').val('5');"><i class="icon-magic"></i></button>
	                </div>           
	                {% if form.ldap_helper_startup.errors %}
	                    <span class="help-block">{{form.ldap_helper_startup.errors|striptags}}</span>
	                {% else %}
	                    <span class="help-block">Number of authentication helpers to run at startup of Squid. It is recommended to make it equal to approximately 1/4 of the total number of users in your network.</span>
	                {%endif%}
	            </div>
	        </div>  
	        <div class="control-group">
	            <label class="control-label">&nbsp;</label>
	            <div class="controls"><label class="checkbox inline">{{form.ldap_helper_verbose}} Enable debugging of Basic LDAP authentication helpers. Debug output will be dumped to <a href="{% url 'ViewCacheLog' %}">Squid cache log</a>.</label>
	            </div>
	        </div>
	        <div class="control-group">
	            <div class="controls">
	                <div class="btn-group"><button type="submit" class="btn btn-primary">Save Changes</button></div>                
	            </div>
	        </div>
    </form>

    {% block member_heading%}{%endblock%}    

    </div>
{% endblock %}
