{% extends 'safety/rules/rulefile_form.html' %}

{% block rule_desc%}<p>Block downloads of files with specific charsets.</p>{%endblock%}

{% block value_name%}Charset{%endblock%}
{% block value_help%}Block downloads of files with specific charsets. For extended list of currently available charsets, see <a target="_new" href="http://www.iana.org">www.iana.org</a>.{%endblock%}

{% block comment_name%}Comment{%endblock%}
{% block comment_help%}Specify comment for your own use.{%endblock%}

{% block cancel_href%}{% url 'ViewRuleCharsetList' policy.pk %}{%endblock%}