{% extends 'safety/rules/rule.html' %}

{% block toolbar_rule_apps %}class="active"{%endblock%}

{% block rule_desc %}<p>This rule contains additional settings for YouTube and Google Apps for Business web applications. It also allows to enforce safe search on Google, Bing and Yahoo.</p>{%endblock%}

{% block rule_content %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger">
         {% for error in form.non_field_errors %}
             <span>{{ error|escape }}</span>
         {% endfor %}
    </div>  
    {% endif %}
    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        <input type="hidden" name="policy" value="{{form.instance.policy.pk}}"/>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox inline">{{form.enable_safe_search}} Enforce Safe Search on Google, Bing and Yahoo search engines.</label>
            </div>
        </div>
        <div class="control-group {% if form.youtube_restrictions.errors %}error{%endif%}">
            <label class="control-label" for="id_google_apps_allowed_domains">YouTube Restriction Level</label>
            <div class="controls">        
                {{form.youtube_restrictions}}                
                {% if form.youtube_restrictions.errors %}
                    <span class="help-block">{{form.youtube_restrictions.errors|striptags}}</span>
                {% else %}
                    <span class="help-block">Specify what restricted mode to enforce on YouTube. See <a target="_new" href="https://support.google.com/a/answer/6214622">this help topic</a> for more information.</span>
                {%endif%}
            </div>
        </div>   
        <div class="control-group">
            <div class="controls">
                <label class="checkbox inline">{{form.hide_yt_comments}} Hide comments on YouTube video pages.</label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox inline">{{form.hide_yt_suggestions}} Hide suggested, featured and recommended videos on YouTube. Hide recommended channels.</label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox inline">{{form.hide_yt_other}} Hide in-video annotations and sharing buttons in video descriptions on YouTube.</label>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label class="checkbox inline">{{form.enable_google_apps}} Limit Google Apps. Usage Google Apps for Business for the members of this policy will be limited to  </a href="{ url 'globals' 1 }"><span {% if show_google_apps_warning %}style="color: red"{%endif%}>the following list of domains</span></a></label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="btn-group">
                    <button class="btn btn-primary">Save Changes</button>                
                </div> 
            </div>
        </div>
    </form>
    
        
{% endblock %}