{% extends 'squid/general/general.html' %}

{% block toolbar_config %}class="active"{%endblock%}

{% block page_comment %}<p>Contents of your Squid configuration file are shown below. For now Squid configuration may only partially be managed by this Web UI.</p>{% endblock %}

{% block page_content %}
	<div class="box">        
	    <style type="text/css">
	        .wrapit {
	            white-space: pre-wrap;
	            margin-bottom: 20px;
	        }
	    </style>
	    <pre class="wrapit">{{conf.get_str}}</pre>	    
    </div>
{% endblock %}