{% extends 'safety/exclusions/form.html' %}

{% block toolbar_exclusion_ip %}class="active"{%endblock%}

{% block exclusion_heading%}<p>Disables filtering on the remote servers by exact IP address. Please note, Web Safety does not do the reverse DNS lookup of the domain names, it just sees if the domain is specified as IP address and if yes, applies exclusions specified.</p>{%endblock%}

{% block value_name%}Domain IP{%endblock%}
{% block value_help%}Specify domain IP to exclude from filtering. Sample IP address to put in the value field is 192.168.1.101{%endblock%}

{% block comment_name%}Comment{%endblock%}
{% block comment_help%}Specify comment for your own use{%endblock%}

{% block cancel_href%}{% url 'ViewExclusionIpList' policy.pk %}{%endblock%}