{% extends 'safety/exclusions/list.html' %}

{% block toolbar_exclusion_subnet %}class="active"{%endblock%}

{% block exclusion_heading%}<p>The following list contains IP address subnets excluded from filtering. Click on the IP address subnet to edit exclusion settings for it. Click <em>Add New</em> button to add new excluded IP address subnet. Click <em>Remove</em> button to remove IP address subnet from exclusion list.</p>{%endblock%}

{% block addnew_href%}{% url 'ViewExclusionSubnetCreate' policy.pk %}{%endblock%}
{% block edit1_href%}{% url 'ViewExclusionSubnetUpdate' policy.pk object.pk %}{%endblock%}
{% block edit2_href%}{% url 'ViewExclusionSubnetUpdate' policy.pk object.pk %}{%endblock%}
