{% extends 'squid/ssl/missing/index.html' %}

{% block ssl_missing_content %}


    {% block member_heading%}{%endblock%}
   
    {% if form.non_field_errors %}
    <div class="alert alert-error">
        {% for error in form.non_field_errors %}
         <span>{{ error|escape }}</span>
        {% endfor %}

        <pre>{{form.errors.traceback}}</pre>
    </div>  
    {% endif %}

    <form enctype="multipart/form-data" class="form-horizontal" method="POST">
        {% csrf_token %}
        <div class="control-group {% if form.file.errors %}error{%endif%}">
            <div class="controls">
                <input type="file" name="file" id="id_file">
                <span class="help-block"><p>Browse to your intermediate certificate PEM file and click <em>Upload Certificate</em> button.</p></span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Upload Certificate</button>
                <a class="btn" href="{% url 'ViewSslIntermediateCertList' %}">Cancel</a>
            </div>
        </div>
    </form>
    
{% endblock %}