{% extends 'squid/exclude/form.html' %}

{% block exclude_user %}active{%endblock%}
{% block header_tab %} / User IP Addresses{% endblock %}

{% block page_comment %}
<p>Connections from the following local IP addresses are excluded from web filtering, anti malware scanning, authentication and HTTPS decryption.</p>
{% endblock %}

{% block value_name%}IP Address{%endblock%}
{% block value_help%}Specify local IP address of the proxy user to add to exclusion list. For example, 192.168.1.101. Both IPv4 and IPv6 addresses are supported.{%endblock%}

{% block comment_name%}Comment{%endblock%}
{% block comment_help%}Specify comment for your own use.{%endblock%}

{% block cancel_href%}{% url 'ViewExcludeUserIpList' %}{%endblock%}