{% extends 'safety/members/list.html' %}

{% block toolbar_member_range %}class="active"{%endblock%}

{% block member_heading%}<p>The following list contains members of policy designated by IP address range (both IPv4 and IPv6).</p>{%endblock%}

{% block addnew_href%}{% url 'ViewMemberRangeCreate' policy.pk %}{%endblock%}
{% block edit1_href%}{% url 'ViewMemberRangeUpdate' policy.pk object.pk %}{%endblock%}
{% block edit2_href%}{% url 'ViewMemberRangeUpdate' policy.pk object.pk %}{%endblock%}

