{% extends 'safety/members/list.html' %}

{% block toolbar_member_subnet %}class="active"{%endblock%}

{% block member_heading%}<p>The following list contains members of policy designated by IP address subnets (both IPv4 and IPv6).</p>{%endblock%}

{% block addnew_href%}{% url 'ViewMemberSubnetCreate' policy.pk %}{%endblock%}
{% block edit1_href%}{% url 'ViewMemberSubnetUpdate' policy.pk object.pk %}{%endblock%}
{% block edit2_href%}{% url 'ViewMemberSubnetUpdate' policy.pk object.pk %}{%endblock%}
